[% TRY %]
    [% PROCESS "$PLUGIN_DIR/i18n/${LANG}.inc" %]
[% CATCH %]
    [% PROCESS "$PLUGIN_DIR/i18n/default.inc" %]
[% END %]
[% INCLUDE 'doc-head-open.inc' %]
 <title>[% T.title %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">[% T.home %]</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">[% T.plugins %]</a>[% T.viewtool %]</div>

<div id="js">
    <textarea rows=40 cols=180> [% jscontent %] </textarea>
</div>

